= render partial: 'cookbooks/form'
= render partial: 'cookbooks/search'
= render partial: 'cookbooks/show'

.container{:data => {'ng-controller' => 'CookbookListController'}}
  %h2.page-header
    Cookbooks
    .pull-right
      %a.btn.btn-success.btn-sm{:data => {'ng-click' => 'new()', 'ng-href' => '#'}} New
      %a.btn.btn-info.btn-sm{:data => {'ng-click' => 'search()', 'ng-href' => '#'}} Search

  %div{'ng-init' => 'popularCookbookList()'}
    %div{'ng-if' => 'cookbooks.length <= 0'}
      .text-center
        %h3.text-muted No Data

    %div{'ng-if' => 'cookbooks.length > 0'}
      %table.table.table-striped.table-condensed{:data => {'ng-table' => 'tableParams'}}
        %tr{:data => {'ng-repeat' => 'cookbook in $data track by cookbook.id'}}
          %td.text-center{:data => {:title => '"Image"'}, :sortable => false}
            %img{:data => {'ng-src' => '{{cookbook.image}}'}, :width => 64}
          %td{:data => {:title => '"Name"'}, :sortable => ' "name" '}{{cookbook.name}}
          %td{:data => {:title => '"Desc"'}, :sortable => false}{{cookbook.desc}}
          %td.text-center{:data => {:title => '"CreatedAt"'}, :sortable => ' "created_at" '}{{cookbook.created_at | date:"yyyy/M/d HH:mm:ss":"+0800"}}
          %td.col-md-2
            %a.btn.btn-warning.btn-sm{:data => {'ng-click' => 'show(cookbook.id)', 'ng-href' => '#'}} Show
            %a.btn.btn-primary.btn-sm{:data => {'ng-click' => 'edit(cookbook.id)', 'ng-href' => '#'}} Edit
            %a.btn.btn-danger.btn-sm{:data => {'ng-click' => 'delete(cookbook.id)', 'ng-href' => '#'}} Delete
