%script{type: 'text/ng-template', id: 'cookbookForm.html'}
  .modal-header
    %h3.modal-title{'ng-if': 'modal_type === "new"'} Create cookbook
    %h3.modal-title{'ng-if': 'modal_type === "edit"'} Edit cookbook
  .modal-body
    %form
      .form-group
        %label Name
        %input.form-control{type: :text, placeholder: 'Please enter name', data: {'ng-model': 'cookbook.name'}}

      .form-group
        %label Desc
        %textarea.form-control{placeholder: 'Please enter desc', data: {'ng-model': 'cookbook.desc'}}

      .form-group
        -# TODO: Implement this like fields_for
        %label
          Materials
          %button.btn.btn-xs{data: {'ng-click': 'addMaterial()'}} Add
          .row{data: {'ng-repeat': 'material in cookbook.material_attributes track by material.name'}}
            .col-xs-5
              %input.form-control{type: :text, placeholder: 'Material name', data: {'ng-model': 'material.name'}}
            .col-xs-3
              %input.form-control{type: :text, placeholder: 'Material quantity', data: {'ng-model': 'material.quantity'}}
            .col-xs-4
              %input.form-control{type: :text, placeholder: 'Material unit', data: {'ng-model': 'material.unit'}}

  .modal-footer
    %button.btn.btn-link{type: :button, data: {'ng-click': 'cancel()'}} Cancel
    %button.btn.btn-primary{type: :button, data: {'ng-click': 'ok()'}} OK
