%script{:type => 'text/ng-template', :id => 'cookbookForm.html'}
  .modal-header
    %h3.modal-title{'ng-if' => 'modal_type === "new"'} Create cookbook
    %h3.modal-title{'ng-if' => 'modal_type === "edit"'} Edit cookbook
  .modal-body
    %form
      .form-group
        %label Name
        %input.form-control{:type => :text, :placeholder => 'Please enter name', :data => {'ng-model' => 'cookbook.name'}}

      .form-group
        %label Image
        %div{:data => {'ng-hide' => '{{cookbook.image === undefined}}'}}
          %img{:data => { 'ng-src' => '{{cookbook.image}}' }, :alt => 'Cookbook_{{cookbook.id}}', :width => 48, :height => 48 }
        %input#file_uploader{:type => :file, :data => {'ng-file-select' => 'uploadImage', 'ng-product-id' => '{{cookbook.id}}'}, 'file-model' => 'file', :accept => 'image/*'}
        .text-danger{:data => {'ng-hide' => 'imageUploaded'}} Uploading...

      .form-group
        %label Desc
        %textarea.form-control{:placeholder => 'Please enter desc', :data => {'ng-model' => 'cookbook.desc'}}

      .form-group
        %label Tag
        %tags-input{:data => {'ng-model' => 'cookbook.tags'}, 'min-length' => 1}

      .form-group
        %label
          Materials
          %button.btn.btn-xs{:data => {'ng-click' => 'addMaterial()'}} Add

        .row{:data => {'ng-repeat' => 'material in cookbook.materials | filter: isShowingMaterial track by material.id'}}
          .col-xs-5
            %input.form-control{:type => :text, :placeholder => 'Name', :data => {'ng-model' => 'material.name'}}
          .col-xs-3
            %input.form-control{:type => :text, :placeholder => 'Quantity', :data => {'ng-model' => 'material.quantity'}}
          .col-xs-3
            %input.form-control{:type => :text, :placeholder => 'Unit', :data => {'ng-model' => 'material.unit'}}
          .col-xs-1
            .form-control-static{:data => {'ng-click' => 'removeMaterial(material.id)'}} &times;

  .modal-footer
    %button.btn.btn-link{:type => :button, :data => {'ng-click' => 'cancel()'}} Cancel
    %button.btn.btn-primary{:type => :button, :data => {'ng-click' => 'ok()'}} OK
